@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}
*, *::before, *::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
	background: #fff;		
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper-full{
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    padding-bottom: 20px;
    z-index: 999;
    background-image: linear-gradient(to right, #fafafc 20%, #ebebf0);
}

.header_active{
    background-image: linear-gradient(to right, #fafafc 40%, #ebebf0);
    
}
.header__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 46px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__logo{
    max-width: 250px;
}
.header__logo-link{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .header__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
} */
.header__nav{
    width: 50%;
    
}
.header__list{
    list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
    
}

.header__list::after{
    /* width: 100%;
    height: 2px; */
    background-color: white;
    /* top: 100%;
    left: 0;
    content: '';
    opacity: 0; */
}

.header__item{
    position: relative;
    margin-right: 62px;
    text-align: right;
    display: flex;
    
}
.header__link{
    z-index: 998;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    text-decoration: none;
    padding: 10px 5px;
    color: #4d764b;
    
}
.header__item:before{
	content: " ";
	position: absolute;
	height: 33.33%;
	width: 0;
	background-color: #C32C39;
    color: #fff;
	right: 0;
	z-index: 0;
	top:33.33%;
	transition: all 0.5s;
}
.header__item:after{
	content: " ";
	position: absolute;
	height: 33.33%;
	width: 0;
	background-color: #C32C39;
    color: #fff;
	left: 0;
	z-index: 0;
	bottom: 0;
	transition: all 0.5s;
}

.header__link:before{
	position: absolute;
	content: "";
	height: 33.33%;
	width: 0;
	background-color: #C32C39;
    color: #fff;
	bottom: 66.66%;
	left: 0;
	transition: all 0.5s;
}

.header__link:focus{
    color: #fff;
}
.header__item:hover:before,
.header__item:hover:after,
.header__item:hover .header__link:before{
	width: 100%;
    
}

.header__item:last-child{
    margin-right: 0;
}

.header__link:active{
    color: #fff;
}
.header__lng-link{
    margin-right: 8px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    text-align: right;
}
.header__lng-link:last-child{
    margin-right: 0;
    text-align: right;
}
.header__lng-link.active{
    color: rgb(118, 116, 116);
}
.header__lng-link:hover, .header__lng-link:focus, .header__lng-link:active{
    opacity: .75;
    color: #fff;
}

.header__burger{
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}

.burger__line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}
.burger__line_first{
    top: 0;
}
.burger__line_second{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.burger__line_third{
    bottom: 0;
}
.header__link:hover, .header__link:focus, .header__link:active{
    color: #fff;
}

/* Header styles end */

/*login style area start*/
/* Intro styles start */

.intro{
min-height: 100vh;
/* margin-top: 100px; */
/* background: url(../img/about/header-shapee.svg) no-repeat center;
background-size: cover; */
padding-top: 125px;
background: rgba(207, 198, 198, 0.268);

}

.services__service{
display: -ms-grid;
display: grid;
-ms-grid-columns: 1fr 88px 1fr;
grid-template-columns: repeat(2, 1fr);
column-gap: 88px; 
-webkit-box-align: center; 
-ms-flex-align: center; 
align-items: center;
/* margin-bottom: 57px; */
}


.service__pic .service__thumb img{
padding-bottom: 75px;
object-fit: cover;
/* width: 100%;
height: 100%;  */
border-radius: 50px;
}

img{
border-radius: 50px;
}
/* Intro styles end */


/*login style area start*/

.container {
display: flex;
align-items: center;
justify-content: center;
margin-top: 100px;
/* margin-bottom: 100px; */

}

.screen {	
background: linear-gradient(90deg, #c04f59, #c56c74);		
position: relative;	
max-height: 500px;
width: 600px;	
box-shadow: 0px 0px 24px #bb535b;
border-radius: 50px;
}

.screen__content {
z-index: 1;
position: relative;	
height: 100%;
}

.screen__background {		
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 0;
-webkit-clip-path: inset(0 0 0 0);
clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
transform: rotate(45deg);
position: absolute;
}

.screen__background__shape1 {
height: 520px;
width: 520px;
background: #FFF;	
top: -50px;
right: 120px;	
border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
height: 220px;
width: 220px;
background: #c32e3a;	
top: -172px;
right: 0;	
border-radius: 32px;
}

.screen__background__shape3 {
height: 540px;
width: 190px;
background: linear-gradient(270deg, #c22d39, #ed646f);
top: -24px;
right: 0;	
border-radius: 32px;
}

.screen__background__shape4 {
height: 400px;
width: 200px;
background: #e48088;	
top: 420px;
right: 50px;	
border-radius: 60px;
}

.login {
width: 620px;
padding: 80px;
/* padding-top: 156px; */
}

.login__field {
padding: 20px 0px;	
position: relative;	
}

.login__icon {
position: absolute;
top: 30px;
color: #db4451;
}

.login__input {
border: none;
border-bottom: 2px solid #bdbdbd;
background: none;
padding: 10px;
padding-left: 24px;
font-weight: 700;
width: 75%;
transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
outline: none;
border-bottom-color: #ed646f;
}

.login__submit {
background: #fff;
font-size: 14px;
margin-top: 30px;
padding: 16px 20px;
border-radius: 26px;
border: 1px solid #c0acae;
text-transform: uppercase;
font-weight: 700;
display: flex;
align-items: center;
width: 100%;
color: #be3641;
box-shadow: 0px 2px 2px #c45c64;
cursor: pointer;
transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
border-color: #ed646f;
outline: none;
}

.button__icon {
font-size: 24px;
margin-left: auto;
color: #db4451;
}

.social-login {	
position: absolute;
height: 140px;
width: 160px;
text-align: center;
bottom: 0px;
right: 0px;
color: #fff;
}

.social-icons {
display: flex;
align-items: center;
justify-content: center;
}

.social-login__icon {
padding: 20px 10px;
color: #fff;
text-decoration: none;	
text-shadow: 0px 0px 8px #db4451;
}

.social-login__icon:hover {
transform: scale(1.5);	
}

/*login style area end*/

/*footer style start*/
.footer{
    background: #0E1D28;
    padding: 119px 0;
    margin-top: auto;
  }
  .footer__item{
    display: flex;
    flex-wrap: wrap;
  }
  .footer__logo{
    width: 50%;
  }
  .footer__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
  }
  .footer__menu-title{
    color: #95A1BB;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .footer__menu-link{
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  .footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active{
    opacity: .75;
  }
  .footer__divider{
    margin-block: 25px;
    border: none;
    border-top: 1px solid rgba(238, 235, 235, 0.973);
  }
  .footer__bottom{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    color: #95A1BB;
  }
  
  .footer__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer__bottom .footer__list{
    flex-direction: row;
  }
  .footer__list-item{
    list-style: none;
  }
  .footer__list-link{
    text-decoration: none;
    color: inherit;
    transition: color .25s;
  }
  .footer__list-link:hover{
    color: #fff;
  }
  /*footer style end*/